body
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 75px;
}

header
{
    display: flex;
    background-color: gray;
    height: 10vh;
    width: 100vw;
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: end;
}

.menu
{
    width: 20vw;
    display: flex;
    text-align: center;
}

.menu a
{
    user-select: none;
    display: block;
    border: 2px solid black;
    padding: 5px 30px;
    margin: 0;
    height: 100%;
    width: 100%;
}

main
{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    column-gap: 5%;
}

form
{
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    width: fit-content;
    min-width: 250px;
    background-color: brown;
    justify-content: start;
    align-items: center;
}

form label
{
    min-width: 30%;
    user-select: none;
    width: fit-content;
    display: inline-block;
    padding-right: 2px;
    box-sizing: border-box;
    text-align: right;
    flex-basis: 30%;
}

form input
{
    min-width: 60%;
    padding: 10px 5px;
    margin: 2px 0px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: start;
    flex-basis: 65%;
}

form button
{
    user-select: none;
    width: 40%;
    font-size: large;
    padding: 2px 15px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px auto;
}